{% extends 'home.html' %}
{% set active_page = "menu2" %}

{% block body %}
<div id="map"></div>
    <script>
      var map;

      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: new google.maps.LatLng(47.549778,  18.825083),
          mapTypeId: 'terrain'
        });

        // Create a <script> tag and set the USGS URL as the source.
        var script = document.createElement('script');

        // This example uses a local copy of the GeoJSON stored at
        // http://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_week.geojsonp
        script.src = 'https://developers.google.com/maps/documentation/javascript/examples/json/earthquake_GeoJSONP.js';
        document.getElementsByTagName('head')[0].appendChild(script);

      }

      function eqfeed_callback(results) {

		var mydata = [];
		var latLng = new google.maps.LatLng(47.549778,  18.825083);
		//var weighed = new google.maps.WeightedLocation(latLng, 1);
		mydata.push(latLng);
		console.log(mydata[0]);

		var myWeightedData = [
		{location: new google.maps.LatLng(47.549778, 18.825083), weight: 0.1},
		{location: new google.maps.LatLng(47.555107, 18.820329), weight: 0.3},
		{location: new google.maps.LatLng(47.553097, 18.829585), weight: 0.2}
		];

        var heatmap = new google.maps.visualization.HeatmapLayer({
          data: myWeightedData,
          dissipating: false,
          map: map
        });
      }
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_dB_mJ0BKSMICeV6WCR8h5aLcfK1ysBs&libraries=visualization&callback=initMap">
    </script>
{% endblock %}



