<!DOCTYPE html>
<html lang="en">
<head>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 93%;
        margin: 0;
        padding: 0;
      }
    </style>
    <meta charset="UTF-8">
    <title>Sensor heatmap</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body >

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">Telki</a>
            </div>

            <ul class="nav navbar-nav" id="navigation">
                <li class="{{ 'active' if active_page == 'menu1' else '' }}"><a href="/smoke">Adatok</a></li>
                <li class="{{ 'active' if active_page == 'menu2' else '' }}"><a href="/heat">Hőtérkép</a></li>
                <li class="{{ 'active' if active_page == 'menu3' else '' }}"><a href="/noise">Parkolók</a></li>
                <li class="{{ 'active' if active_page == 'menu4' else '' }}"><a href="/light">Buszok</a></li>
            </ul>
        </div>
    </nav>

    {% block body %}{% endblock %}
</body>
</html>