{% extends 'home.html' %}
{% set active_page = "menu4" %}

{% block body %}

        <div class="table-responsive" style="margin-left: 10%; margin-right: 10%">
        <table class ="table" style="border: solid 1px rgb(0,0,0)">
            <thead>
                <tr>
                    <th>Buszok:</th>
                    <th>Késés várható ideje</th>
                    <th>Átlag késés</th>
                    <th>Siettség várható ideje</th>
                </tr>
            </thead>
            <tr>
                <td>B1</td>
                <td>0 perc</td>
                <td>10 perc</td>
                <td>10 perc</td>

            </tr>
            <tr>
                <td>B2</td>
                <td>5 perc</td>
                <td>10 perc</td>
                <td>15 perc</td>

            </tr>
            <tr>
                <td>B3</td>
                <td>10 perc</td>
                <td>0 perc</td>
                <td>10 perc</td>

            </tr>
        </table>
        </div>



{% endblock %}